<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button id="menu-toggle" style="border: none; background: none">
        <img alt="Меню" src="icons/open-menu.png" width="25" height="25"/>
    </button>
</nav>