@model LearningExperience.Web.Pages.IndexModel 
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    @*<button id="menu-toggle" style="border: none; background: none">
        <img alt="Меню" src="icons/open-menu.png" width="25" height="25" />
    </button>*@
    <form method="post" style="width:100%">
        <input class="form-control" type="search" placeholder="Поиск" aria-label="Search" asp-for="SearchText" style="width:100%">
        <input type="submit" value="search" asp-page-handler="Search" style="display: none;" />
    </form>
</nav>