@page
@using LearningExperience.Web
@model IndexModel
@{
    ViewData["Title"] = Title.Value;
}
<div style="margin: 15px">
    @Html.HiddenFor(m => m.SearchText)
    @Html.Raw(Model.HtmlPageContent)
</div>

